go_version=$(grep "^go " go.mod | awk '{print $2}')

gobrew use ${go_version}@latest

# We store common go related files (caches, common tools e.t.c) in the parent directory
# This may be unexpected but it's a better option than polutting global
export GOPATH=$(expand_path $PWD/../go/${go_version})

PATH_add $GOPATH/bin
PATH_add ./bin
